#####################################################
## Unnecessary files ##
#####################################################
.DS_Store
.prettierignore


#####################################################
## Unnecessary files ##
#####################################################
*.sketch
*.fig
README-instructions.md
README-template.md
style-guide.md
/design


