body {

    color: var(--darkBlue);
    background-color: var(--darkBlue2);

   
}

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 11%, 50%);
    --darkBlue: hsl(213, 19%, 18%);
    --darkBlue2: hsl(216, 12%, 8%);
    --red: hsl(0, 100%, 74%);

}

.interactive-card {
    background-color: var(--darkBlue);
    color: var(--white);
    margin: 0 auto; 
    padding-top: 20px;
}

.image-icon {
    height: 50px;
    width: 50px;
    margin: 0 auto; 
    
}


.active  {
    // background-color: var(--orange);
  }

  .btn:hover {
    background-color: var(--orange);
    color: white;

  }

.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: var(--darkBlue2);
    cursor: pointer;
    // border-radius: 25px;
  }
  
  .btn-circle {
    width: 40px;
    height: 40px;
    padding: 1px 1px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}

.btn-submit {
  background-color: var(--orange);
}



.grade {
  border-radius: 50%;
  background-color: var(--darkBlue2);
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  vertical-align: middle;
}

.grade:hover{
  background-color: var(--orange);
  cursor: pointer;
}


.hide {
  display:none;
}

.thank-you-img {
  width: 14 rem;
}

#star-icon {
  border-radius: 50%;
  background-color: var(--darkBlue2);
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  vertical-align: middle;
}

.enabled {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}


.card{
  width: 25 rem;
  border-radius: 16px;
  background-image: linear-gradient(to bottom right, var(--dark-blue), var(--very-dark-blue));
  width: 25vw;
  padding: 1rem;
  margin: 1rem auto;
}

.card-footer{
  display: flex;
  justify-content: center;
}

.card-footer button{
  background-color: var(--orange);
  color: var(--white);
  width: 100%;
  border: 0;
  border-radius: 16px;
  padding: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.card-footer button:hover{
  background-color: var(--white);
  color: var(--orange);
}

.card-rating {
  display: flex;
  justify-content: space-between;
  margin: 1.0rem 0;

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

